//main scss

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction:column;
    padding: 30px 20px 20px 20px;
    
    margin: 5% auto;
    max-width: 510px;
    max-height: 110px;
    border-radius:10px; 
    @include blurry-mixin(); 

    transition: 1s;
}
.slideDown {
    max-height: 500px;
}
.slideUp {
    max-height: 226px;
}

.theme {
    margin: 15px; 
    font-size: 30px; 
    cursor: pointer
}

.search {
    @include flexCenter-mixin; 
    justify-content: baseline;
}

.location-icon {
    font-size:30px;
    cursor: pointer;
}
.search-input {
    margin: 0 20px;
    min-width: 300px;
    padding: 5px 5px 5px 10px;
    border-radius: 5px;
    @include blurry-mixin(); 
    
}
.search-input:focus {
    outline: none;
}
.search-input::placeholder {
   color: #000;
   opacity: 0.5;
}
.search-btn {
    font-size: 30px;
    cursor: pointer;
}



.weather {
    margin: 10px 0 0px 0;
    overflow: hidden; 
}

.appear {
    opacity: 0;
    scale: 0;
    animation: appear 0.5s forwards;  
    animation-delay:0.5s;
   
}
@keyframes appear {
    0% {
        opacity: 0;
        scale: 0;
    }
    // 50% {
        
    // }
    100%{
        opacity: 1;
        scale: 1;
    }
}
.disappear {
    opacity: 1;
    scale: 1;
    animation: disappear 0.5s forwards;  
    animation-delay:0.5s;
}
@keyframes disappear {
    0% {
        opacity: 1;
        scale: 1;
    }
    // 50% {
        
    // }
    100%{
        opacity: 0;
        scale: 0;
    }
}

.weather-main {
    @include flexCenter-mixin; 
    flex-direction: row;
    margin: 20px 0 25px 0;
}
.main-img {
    max-width: 200px;
    max-height: 200px;
    margin: 0 10px 0 0px;
    @include flexCenter-mixin; 
    justify-content: center;
    
   

}

.main-temperature {
    font-size: 30px;
    margin: 0 0 0 10px;
}
.main-weather {
    text-align: center;
    margin: 0px 0 30px 0;
    font-size: 30px;
}

.weather-add {
    @include flexCenter-mixin; 
    justify-content: space-between;
    padding-bottom: 10px;
}


@media(max-width: 520px) {
    .container {     
        margin: 5% auto;
        max-width: 300px;
        padding: 11px 20px 0 20px;
        max-height: 80px;
    } 
    .slide {
        max-height: 400px;
    }    
    .search-input {
        min-width: 150px;
        margin: 10px;
    }
    .search-btn {
        font-size: 20px;
    }
    .location-icon {
        font-size: 20px;
    }
    .weather {
        margin: 0;
    }
    .weather-main {
        margin: 15px 0 20px 0;
    }
    .main-img {
        max-width: 150px;
        max-height: 150px;
        margin: 0 10px 0 0px;
    }
    .main-temperature {
        font-size: 25px;
       
    }
    .main-weather {
        text-align: center;
        margin: 0px 0 30px 0;
        font-size: 20px;
    }
    .weather-add {
        font-size:15px ;
        padding-bottom: 20px ;
    }
}

//toggle
.themeBody {
    background: linear-gradient(rgba(255, 255, 255, 0), rgba(0, 0, 0, 0.7)),  url('../img/night.jpg') 0 0/cover no-repeat; 
    color: #fff;
}
.themeSearch {
    color: #fff;
    &::placeholder {
        color: #fff;
    }
}

















