//main scss

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction:column;
    padding: 30px;
    margin: 10% auto;
    width: 40%;
    border-radius:10px; 
    
    @include blurry-mixin(); 
}


.search {
    display: flex;
    justify-content: baseline;
    align-items: center;
}
.location-icon {
    font-size:30px ;
    cursor: pointer;
}
.search-input {
    margin: 0 20px;
    width: 300px;
    padding: 5px 5px 5px 10px;
    border-radius: 5px;

    @include blurry-mixin(); 

}
.search-input:focus {
    outline: none;
}
.search-input::placeholder {
   color: #000;

}
.search-btn {
    font-size: 30px;
    cursor: pointer;
}


.weather {
    margin: 20px 0 0 0;
    //display: none;
   
}

.weather-main {
    display: flex;
    align-items: center;
}
.main-img {
    // width: 300px;
    // height: 190px;
    width: 250px;
    height: 200px;
    margin: 0 0px 0 0px;
    display: flex;
    justify-content: center;
    align-content: center;

}
.main-img img {
    // width: 150px;
    // height: 150px;
  
}
.main-temperature {
    font-size: 30px;
    margin: 0 0 0 0px;
}
.main-weather {
    text-align: center;
    margin: 20px 0 20px 0;
    font-size: 30px;
}

.weather-add {
    display: flex;
    text-align: center;
    justify-content: space-between;
}

.add-humidity {

}
.humidity-title {
}
.humidity-value {
}

.add-visibility {
    
}
.visibility-title {
}
.visibility-value {
}

.add-wind {
    
}
.wind-title {
}
.wind-value {
}

