//main scss

.container {
    @include flexCenter-mixin; 
    @include blurry-mixin(); 
    flex-direction: column;
    justify-content: center;
    flex-direction:column;
    padding: 20px 20px 20px 20px;
    margin: 5% auto;
    max-width: 510px;

    border-radius:10px; 
    
    max-height: 110px;

    transition: max-height 0.3s ease;

}
.slideDown {
    
    max-height: 500px;
}

.search {
    @include flexCenter-mixin; 
    justify-content: baseline;
}

.location-icon {
    font-size:30px;
    cursor: pointer;
}
.search-input {
    @include blurry-mixin(); 
    margin: 0 20px;
    min-width: 300px;
    padding: 5px 5px 5px 10px;
    border-radius: 5px;


}
.search-input:focus {
    outline: none;
}
.search-input::placeholder {
   color: #000;
   opacity: 0.5;
}
.search-btn {
    font-size: 30px;
    cursor: pointer;
}



.weather {
    margin: 10px 0 0px 0;
    overflow: hidden; 
    display: none;
    transition: scale 0.4s ease;
    opacity: 0;
    scale: 0;
}
.fadeIn {
    opacity: 1;
    scale:1;
}
.fadeOut {
    opacity: 0; 
    scale: 0;
}




.weather-main {
    @include flexCenter-mixin; 
    flex-direction: row;
    margin: 20px 0 25px 0;
}
.main-img {
    @include flexCenter-mixin; 
    max-width: 200px;
    max-height: 200px;
    margin: 0 10px 0 0px;
    justify-content: center;
    
}

.main-temperature {
    font-size: 30px;
    margin: 0 0 0 10px;
}
.main-weather {
    text-align: center;
    margin: 0px 0 30px 0;
    font-size: 30px;
}

.weather-add {
    @include flexCenter-mixin; 
    justify-content: space-between;
    padding-bottom: 10px;
    text-align: center;

}


//toggle
.theme {
    margin: 15px; 
    font-size: 30px; 
    cursor: pointer; 
    
}

.themeBody {
    background: linear-gradient(rgba(255, 255, 255, 0), rgba(0, 0, 0, 0.7)),  url('../img/night.jpg') 0 0/cover no-repeat; 
    color: #fff;
}
.themeSearch {
    color: #fff;
    &::placeholder {
        color: #fff;
    }
}
.notFound {
    display: none;
    overflow: hidden;
    font-size: 30px;
    margin-top: 10.5px;
    margin-bottom: 10.5px;
  

}
.notFoundBlack{
    display: none;
    overflow: hidden;
    width: 300px;
    height: 300px;


}

.notFoundImg {
    display: none;
    overflow: hidden;
    width: 322px;
    height: 322px;
}


@media(max-width: 520px) {

    .container {     
        
        max-width: 350px;
        padding: 10px 20px 10px 20px;
        max-height: 100px;
    } 
    .slideDown {
        max-height: 400px;
    }    
 
    .search-input {
        min-width: 150px;
        margin: 5px;
        margin-left: 10px;
        margin-right: 10px;
        
    }
    .search-input::placeholder {
        font-size: 15px;
    }
   
    .search-btn {
        font-size: 20px;
    }
    .location-icon {
        font-size: 20px;
    }

    
    .weather-main {
        margin: 15px 0 20px 0;
    }
    .main-img {
        max-width: 150px;
        max-height: 150px;
        margin: 0 10px 0 0px;
    }
    .notFound {
        font-size: 25px;
        margin-top: 20.5px;

    }
    .notFoundImg {
        max-width: 236px;
        max-height: 235.5px;
    }
   
    .main-temperature {
        font-size: 25px;
       
    }
    .main-weather {
        text-align: center;
        margin: 0px 0 30px 0;
        font-size: 20px;
    }
    .weather-add {
        font-size:13px ;
        padding-bottom: 10px ;
    }
}










